:root {
  --main-font: "Public Sans","Arial", sans-serif;
  --secondary-font: "Ibarra Real Nova", "Times New Roman", serif;
  --color-white :  #fff;
  --color-cyan : #5FB4A2;
  --color-dark-blue: #203A4C;
  --color-grayish-dark-blue: #33323D;
  --color-light-grey-bg:#fafafa;
  --color-light-grey-text : #EAEAEB;
  --color-bright-red : #F43030;
}

/* FONTS */
@font-face {
  font-family: "Ibarra Real Nova";
  src: url("../fonts/IbarraRealNova-Bold.woff2") format("woff2"),
  url("../fonts/IbarraRealNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Regular.woff2") format("woff2"),
  url("../fonts/PublicSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 30px;
  background-color: var(--color-light-grey-bg);
  color: var(--color-grayish-dark-blue);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* REUSABEL */
.btn{
  display: inline-block;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}

.btn--simple{
  padding: 17px 35px;
  color: var(--color-grayish-dark-blue);
  border: 1px solid var(--color-grayish-dark-blue);
}

.btn--simple:hover {
  background-color: var(--color-grayish-dark-blue);
  color: var(--color-white);
}

.btn:active{
  opacity: 0.6;
}


/* CONTAINER */
.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE-CONTENT */
.site-content{
  flex-grow: 1;
}



/* SITE-HEADER MOBILE */
.site-header {
  padding-top: 32px;
  padding-bottom: 40px;
}

.site-header--open{
  position: relative;
  z-index: 1;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 0 32px;
}

.logo {
  transition: opacity 0.3s ease;
  text-decoration: none;
  display: inline-block;
}


.logo:hover{
  opacity: 0.8;
}

.logo:active{
  opacity: 0.6;
}

.logo__img{
  display: block;
}


.site-header__toggler {
  border: none;
  background-color: transparent;
  background-image: url("../img/navbar-burger.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 25px;
  height: 13px;
}

.site-header--open .site-header__toggler{
  background-image: url("../img/nav-cancel.svg");
}

.site-header__sitenav{
  display: none;

}

.site-header--open .site-header__sitenav {
  display: block;
  position: absolute;
  z-index: 1;
  top: calc(100% - 16px);
  right: 32px;
  padding: 40px 65px;
  background-color: var(--color-grayish-dark-blue);
}

.sitenav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.sitenav__item:not(:last-child) {
  margin-bottom: 32px;
}

.sitenav__link {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-white);
  white-space: nowrap;
}



/* HERO MOBILE */
.hero {
}

.hero__img-box {
  margin-bottom: 24px;
  background-image: url("../img/hero.jpg");
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 271px;

}

.hero__content {
}

.hero__heading {
  margin: 0;
  margin-bottom: 32px;
  font-weight: bold;
  font-family: var(--secondary-font);
  font-size: 38px;
  line-height: 42px;
  letter-spacing: 0.5px;
  color: var(--color-grayish-dark-blue);
}

.hero__link {
  position: relative;
  display: inline-block;
  padding: 17px 40px 17px 90px;
  background-color: rgb(32, 58, 76);
  align-items: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.hero__link::before{
  position: absolute;
  content: '';
  z-index: 1;
  top: 0;
  left: 0;
  width: 48px;
  height: 47px;
  background-color: rgba(29, 52, 68, 1);
  background-image: url("../img/link-arrows.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-color 0.3s ease,
  opacity 0.3s ease;


}

.hero__link:hover{
  background-color: #5FB4A2;

}

.hero__link:hover::before{
  background-color: #55A292;
  background-image: url("../img/link-arrows-light.svg");
}

.hero__link:active{
  opacity: 0.6;
}

.footer {
  padding: 55px 100px;
  background-color: var(--color-grayish-dark-blue);
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  margin-bottom: 40px;
}

.footer__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.footer__item:not(:last-child) {
  margin-bottom: 32px;
}

.footer__link {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-white);
  text-decoration: none;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.footer__link:hover {
  color: var(--color-cyan);
}

.footer__link:active {
  opacity: 0.6;
}


.sc__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.sc__item:not(:last-child) {
  margin-right: 15px;
}

.sc__link {
  color: var(--color-white);
  text-decoration: none;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.sc__link svg {
  display: block;
}

.sc__link:hover {
  color: var(--color-cyan);
}

.sc__link:active {
  color: rgba(95, 180, 162, 0.699);
}

/* MOBILE SELF */

.self {
  padding-top: 95px;
  padding-bottom: 115px;
}

.self__img-box{
  margin-bottom: 32px;
}

.self__picture {
  width: 100%;
}

.self__img {
  width: 100%;
  display: block;
}

.self__content::before,
.self__content::after {
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  background-color: rgb(51, 50, 61, 0.15);
}

.self__content::before{
  margin-bottom: 32px;
}

.self__heading {
  margin: 0;
  margin-bottom: 28px;
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.5px;
  color: #33323D;
}

.self__info {
  margin: 0;
  margin-bottom: 24px;
  font-weight: normal;
  color: rgb(51, 50, 61, 0.8);
}

.self__link{
  margin-bottom: 32px;
}


.follow {
  padding-bottom: 80px;
  text-align: center;
}

.follow__heading {
  margin: 0;
  margin-bottom: 40px;
  font-family: var(--secondary-font);
  font-size: 40px;
  width: 311px;
  margin-left: auto;
  margin-right: auto;
  line-height: 42px;
  letter-spacing: -0.5px;
  color: #33323D;
}

/* ======================= CONTACT PAGE ======================= */
.contact-hero{
  padding-bottom: 32px;
}

.contact-hr{
  border: none;
  height: 1px;
  width: 100%;
  background-color: rgba(51, 50, 61, 0.15);
  display: block;
}

.contact-hero__top{
  margin-bottom: 24px;
}
.contact-hero__bottom{
  margin-top: 24px;
}

.contact-hero__heading {
  margin: 0;
  margin-bottom: 24px;
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.5px;
}

.contact-hero__info {
  margin: 0;
  margin-bottom: 14px;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: rgba(51, 50, 61, 0.8);

}

.contact-hero__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.contact-hero__item:not(:last-child){
  margin-right: 15px;
}

.contact-hero__link {
  color: var(--color-grayish-dark-blue);
  transition: opacity 0.3s ease, color 0.3s ease;
}

.contact-hero__link:hover{
  color: rgba(51, 50, 61, 0.808);
}

.contact-hero__link:active{
  opacity: 0.6;
}


/* CONTACT FROM MOBILE */

.contact-me {
  padding-bottom: 80px;
}

.contact-me__heading {
  margin: 0;
  margin-bottom: 24px;
  font-weight: bold;
  font-family: var(--secondary-font);
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.5px;
  color: var(--color-grayish-dark-blue);
}

.contact-me__form {
  width: 100%;
}

.contact-form__input-box {
  display: block;
  margin-bottom: 24px;
}

.contact-form__label {
  display: block;
  font-weight: bold;
  font-size: 13px;
  line-height: 30px;
  color:rgba(51, 50, 61, 0.8);


}

.contact-form__input {
  margin-top: 8px;
  border: none;
  font-size: 13px;
  line-height: 30px;
  display: block;
  padding: 9px 16px;
  width: 100%;
  background-color: rgba(51, 50, 61, 0.1);

}

.contact-form__input::placeholder{
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: rgba(51, 50, 61, 0.4);
}

.contact-form__txt{
  min-height: 96px;
  resize: none;
}

.contact-form__btn {
  padding: 17px 24px;
  border: none;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
  border: 1px solid var(--color-dark-blue);
}

.contact-form__btn:hover {
  background-color: var(--color-light-grey-bg);
  color: var(--color-dark-blue);
}

.contact-form__btn:active {
  background-color: var(--color-dark-blue);
  color: var(--color-light-grey-bg);
  opacity: 0.6;
}




@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .hero__img-box {
    background-image: url('../img/hero@2x.jpg');
  }
}

/* =================         TABLET             ========================= */


@media only screen  and (min-width: 768px){

  /* SITE-HEADER TABLET */


  .site-header {
    padding-top: 64px;
    padding-bottom: 47px;

  }

  .container {
    padding: 0 40px;
  }

  .site-header__toggler {
    display: none;
  }

  .site-header__sitenav {
    display: block;
    padding: 0;
  }

  .sitenav__list {
    display: flex;
  }

  .sitenav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 42px;
  }

  .sitenav__link {
    color: var(--color-grayish-dark-blue);

  }

  /* HERO TABLET */

  .hero {
    position: relative;
  }

  .hero__img-box {
    margin-bottom: 0;
    width: 100%;
    height: 600px;
    display: block;
    background-image: url("../img/hero.jpg");
  }

  .hero__content {
    position: absolute;
    padding-right: 56px;
    padding-top: 56px;
    bottom: 0;
    left: 0;
    width: 520px;
    z-index: 1;
    background-color: var(--color-light-grey-bg);
  }

  .hero__heading {

    margin-bottom: 48px;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
  }


  /* SELF TABLET */

  .self {
    padding: 96px 0;
    display: flex;
  }

  .self__img-box {
    width: 280px;
    height: 600px;
    margin-bottom: 0;
    margin-right: 125px;
    flex-shrink: 0;

  }

  .self__picture {
    width: 100%;
    height: 100%;
    margin-right: 70px;
  }

  .self__img {
    width: 100%;
    height: 100%;
  }

  .self__content {
    width: 340px;
    margin-right: 0;

  }

  .self__content::before{
    margin-bottom: 50px;
  }

  .self__content::after{
    margin-top: 45px;
  }

  .self__heading {
    margin-bottom: 28px;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
  }

  .self__info {
    margin-bottom: 24px;
  }

  .self__link {
    margin-bottom: 0;
  }

  /* FOLLOW TABLET */
  .follow {
    padding-bottom: 96px;
    display: flex;
    align-items: center;

  }

  .follow__heading {
    width: 500px;
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: auto;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.5px;
  }

  .follow__heading::after {
    margin-left: 30px;
    flex-shrink: 0;
    content: '';
    width: 113px;
    height: 1px;
    background-color: rgba(51, 50, 61, 0.15);
    display: block;
  }

  .follow__link {
    white-space: nowrap;
  }



  /* FOOTER TABLET */
  .footer{
    padding: 24px 0;
  }

  .footer__container{
    flex-direction: row;
    align-items: center;
  }

  .footer__logo{
    margin-bottom: 0;
    margin-right: 48px;

  }

  .footer__list{
    margin-right: auto;
    margin-bottom: 0;
    display: flex;
  }

  .footer__item:not(:last-child){
    margin-bottom: 0;
    margin-right: 42px;
  }


  /* ================ CONTACT PAGE ABLET ============== */

  .contact-hero__top {
    margin-bottom: 32px;
  }

  .contact-hero__bottom {
    margin-top: 32px;
  }

  .contact-hero{
    padding-top: 50px;
    padding-bottom: 32px;
  }


  .contact-hero__heading {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 42px;
  }

  .contact-hero__info {
    margin-bottom: 24px;
    font-size: 15px;
    line-height: 30px;
  }


  /* CONTACT - FORM  */
  .contact-me{
    padding-bottom: 96px;
  }


  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    .hero__img-box {
      background-image: url('../img/hero@2x.jpg');
    }
  }

}


/* =================        DESKTOP             ========================= */

@media only screen  and (min-width: 1200px){

  /* SITE-HEADER DESKTOP */

  .site-header{
    padding-top: 64px;
    padding-bottom: 54px;
  }

  .container{
    padding: 0 20px;
  }

  .sitenav__link{
    transition: color 0.3s ease, opacity 0.3s ease;
  }

  .sitenav__link--active{
    color: var(--color-cyan);

  }
  .sitenav__link:hover{
    color: rgba(95, 180, 162, 0.7);
  }

  .sitenav__link:active{
    opacity: 0.5;
  }

  /* HERO DESKTOP*/

  .hero__img-box {
    height: 600px;
  }

  .hero__content {
    width: 445px;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
  }

  .hero__heading {
    margin-bottom: 50px;
  }


  /* SELF DESKTOP */

  .self {
    padding: 150px 0;
  }

  .self__img-box {
    width: 540px;
    height: 600px;
  }

  .self__picture {}

  .self__img {}

  .self__content {
    width: 350px;
  }

  /* FOLLOW DESKTOP */

  .follow {
    padding-bottom: 150px;
  }

  .follow__heading{
    width: 910px;
  }

  .follow__heading::after {
    width: 530px;
    margin-left: 30px;
  }


  /* CONTACT DESKTOP PAGE */
  .contact-hero__top {
    margin-bottom: 48px;
  }

  .contact-hero__bottom {
    margin-top: 48px;
  }

  .contact-hero__content {
    display: flex;
  }
  .contact-hero__heading {
    width: 350px;
    flex-shrink: 0;
    margin-right: 125px;
    margin-bottom: 0;
  }


  /* CONTACT ME DESKTOP */

  .contact-me {
    padding-bottom: 110px;
    display: flex;

  }

  .contact-me__heading {
    width: 350px;
    flex-shrink: 0;
    margin-right: 125px;
    margin-bottom: 0;
  }

  .contact-me__form {}

  .contact-form {}

  .contact-form__input-box {}

  .contact-form__label {}

  .contact-form__input {}

  .contact-form__txt {}

  .contact-form__btn {}

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    .hero__img-box {
      background-image: url('../img/hero@2x.jpg');
    }
  }

}
